#nav-bar {
  background-color: blue;
}

.friend-list-container {
  text-align: center;
  position:fixed;
  width:17%;
  border: 1px solid black;
  bottom:0;
  right:3%;
  height: 30%;
}

.friend-container {
  list-style: none;
  border: 1px solid black;
  width:100%;
}
.friend-container:hover {
  cursor:pointer;
}

.chatrooms {
  border: 1px solid black;
  width:30%;
  float: right;
  clear:both;
  height: 200px;
}

.search {
  float:right;
}

.chatrooms {
  
}