#nav-bar {
  background-color: blue;
}

.friend-list {
  float:right;
}

.each-friend:hover {
  cursor:pointer;
}

.chatrooms {
  border: 1px solid black;
  width:30%;
  float: right;
}

.search {
  float:right;
}